@charset "UTF-8";

/* CSS Document */

body{
	font-family: "Trebuchet MS", Verdana, "sans-serif";
	margin: 0px;
	background-image: url("Skrald.jpeg");
	background-size: cover;
	background-attachment: fixed;
}

header {
	display: flex;
	text-align: center;
	background: #44c44a;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

header h1{
	color: white;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
}

header a{
	text-decoration: none;
}

nav button{
	background: #44c44a;
	color: white;
	font-size: 20px;
	border: solid 3px #44c44a;
	border-radius: 7px;
	font-family: "Open Sans";
	font-weight: 600;
}

nav button:hover{
	cursor: pointer;
	border: solid 3px white;
	
}

#aktivB{
	background: white;
	color: #44c44a;
	border: solid 3px white;
}

.forside{
	text-align: center;
}

.forside img{
	background-color: #44c44a;
	padding: 5px 87.5px;
	margin: 0px;
}

.forside p{
	background-color: white;
	padding: 25px;
	margin: -6px 0px;
}

.lilleInfo{
	margin-top: 250px;
	list-style-type: none;
}

.lilleInfo li {
  	display: inline-block;
  	font-size: 20px;
 	padding: 20px;
	width: 250px;
}

.lilleInfo button{
	margin-top: 25px;
	padding: 5px;
	border: none;
	background-color: #44c44a;
	color: white;
	font-size: 15px;
	cursor: pointer;
}

.process {
	text-align: center;
	margin-top: 200px;
}

.process h2{
	background: #44c44a;
	text-align: left;
	padding: 5px 15px;
	margin: 0px 150px;
	color: white;
}

.processInfo {
	margin: 0px 150px 50px;
	background: white;
}

.processInfo img {
	width: 250px;
}

.processInfo p{
	text-align: left;
}

.processInfoBox1 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox1 div{
	padding-top: 50px;
	padding-right: 50px;
}

.processInfoBox1 img{
	padding-left: 50px;
}

.processInfoBox2 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox2 div{
	padding-top: 50px;
	padding-left: 50px;
}

.processInfoBox2 img{
	padding-right: 50px;
}

.processInfoBox3 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox3 div{
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.processInfoBox3 img{
	padding-left: 50px;
}

.affaldsfraktioner {
	text-align: center;
	margin-top: 200px;
}

.affaldsfraktioner h2{
	background: #44c44a;
	text-align: left;
	padding: 5px 15px;
	margin: 0px;
	color: white;
}

.affrakInfo {
	margin: 0px 150px 50px;
	background: white;
}

.affrakInfo img {
	width: 75px;
	padding: 25px 0px 12.5px 25px;
}

.affrakInfo p{
	text-align: left;
	padding: 12.5px 25px 12.5px 5px;
}

.affrakInfoBox {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}

.omOs {
	text-align: center;
	margin-top: 200px;
}

.omOs h2{
	background: #44c44a;
	text-align: left;
	padding: 5px 15px;
	margin: 0px 150px;
	color: white;
}

.omOsInfo {
	margin: 0px 150px 50px;
	padding-bottom: 400px;
	background: white;
}

.omOsInfo p{
	text-align: left;
	padding: 12.5px 25px;
}

.omOsInfoBox1 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.omOsInfoBox1 div{
	padding: 50px;
}
