@charset "UTF-8";

/* CSS Document */

body{
	font-family: "Trebuchet MS", Verdana, "sans-serif";
	margin: 0px;
	background-image: url("Skrald.jpeg");
	background-size: cover;
	background-attachment: fixed;
}

header {
	display: flex;
	text-align: center;
	background: #44c44a;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px;
}

header img{
	float: left;
}

header h1{
	color: white;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	width: 300px;
	padding: 15px 0px;
}

header a{
	text-decoration: none;
}

nav button{
	background: #44c44a;
	color: white;
	font-size: 20px;
	border: solid 3px #44c44a;
	border-radius: 7px;
	font-family: "Open Sans";
	font-weight: 600;
}

nav button:hover{
	cursor: pointer;
	border: solid 3px white;
	
}

#aktivB{
	background: white;
	color: #44c44a;
	border: solid 3px white;
}

footer{
	background: white;
	margin: 0px;
	height: 105px;
}

footer div{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-between;
	padding: 10px 25px 5px;
}

footer img{
	padding-left: 150px;
}

#telf{
	text-align: center;
}

.forside{
	text-align: center;
	margin-bottom: 200px;
}

.forside h1{
	color: white;
	margin-top: 100px;
}

.forside h2{
	color: white;
}

.forside img{
	background-color: #44c44a;
	padding: 0px 87.5px;
	margin: 0px;
}

.forside p{
	background-color: white;
	padding: 25px;
	margin: -6px 0px;
	max-height: 300px;
}

.lilleInfo{
	margin-top: 75px;
	list-style-type: none;
}

.lilleInfo li {
  	display: inline-block;
  	font-size: 18px;
 	padding: 20px;
	width: 250px;
}

.lilleInfo li p{
	border-radius: 0px 0px 10px 10px;
}
.lilleInfo li img{
	border-radius:10px 10px 0px 0px;
}

.lilleInfo button{
	margin-top: 25px;
	padding: 5px;
	border: none;
	background-color: #44c44a;
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

.process {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

#mobil{
	display: none;
}

.process h2{
	background: #44c44a;
	text-align: left;
	padding: 15px 15px;
	margin: 0px 200px;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

.processInfo {
	margin: 0px 200px 50px;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.processInfo img {
	width: 200px;
}

.processInfo p{
	text-align: left;
}

.processInfoBox1 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox1 div{
	padding-top: 50px;
	padding-right: 50px;
}

.processInfoBox1 img{
	padding-left: 50px;
}

.processInfoBox2 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox2 div{
	padding-top: 50px;
	padding-left: 50px;
}

.processInfoBox2 img{
	padding-right: 50px;
}

.processInfoBox3 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.processInfoBox3 div{
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.processInfoBox3 img{
	padding-left: 50px;
}

.affaldsfraktioner {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

.affaldsfraktioner h2{
	background: #44c44a;
	text-align: left;
	padding: 15px 15px;
	margin: 0px;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

.affrakInfo {
	margin: 0px 200px 50px;
	background: white;
	border-radius: 10px 10px 10px 10px;
}

.affrakInfo img {
	width: 75px;
	padding: 25px 0px 12.5px 25px;
}

.affrakInfo p{
	text-align: left;
	padding: 12.5px 25px 12.5px 5px;
}

.affrakInfoBox {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
}
iframe {
	padding: 20px 0px 100px;
	width: 850px;
}
.affrakInfo h3{
	font-size: 25px;
}
.omOs {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

.omOs h2{
	background: #44c44a;
	text-align: left;
	padding: 15px 15px;
	margin: 0px 200px;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

.omOsInfo {
	margin: 0px 200px 50px;
	padding-bottom: 25px;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

.omOsInfo p{
	text-align: left;
	padding: 12.5px 25px;
}

.omOsInfoBox1 {
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 10px;
}

.omOsInfoBox1 div{
	padding: 50px;
}


@media screen and (max-width: 420px) {
	header {
		display: inline-block;
		justify-content: none;
	}
	
	header img{
		float: none;
	}

	header h1{
		display: none;
	}
	
	nav button{
		font-size: 16.27px;
		margin-bottom: 10px;
	}
	
	footer{
		height: 90px;
	}
	
	footer p{
		font-size: 12.5px;
	}
	
	footer img{
		display: none;
	}
	
	footer div{
		grid-template-columns: auto auto;
	}
	
	.process {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	#mobil{
		display: initial;
	}
	
	#pc{
		display: none;
	}

	.process h2{
		font-size: 20px;
		margin: 0px 25px;
	}

	.processInfo {
		margin: 0px 25px 50px;
		padding-bottom: 25px;
	}

	.processInfo img {
		width: 200px;
	}

	.processInfo p{
		text-align: left;
		padding: 0px 25px
	}

	.processInfoBox1 {
		grid-template-columns: auto;
		gap: 0px;
	}

	.processInfoBox1 div{
		padding-top: 25px;
		padding-right: 0px;
	}

	.processInfoBox1 img{
		padding-left: 0px;
	}

	.processInfoBox2 {
		grid-template-columns: auto;
		gap: 0px;
	}

	.processInfoBox2 div{
		padding-top: 20px;
		padding-left: 0px;
	}

	.processInfoBox2 img{
		padding-right: 0px;
	}

	.processInfoBox3 {
		grid-template-columns: auto;
		gap: 0px;
	}

	.processInfoBox3 div{
		padding-top: 20px;
		padding-right: 0px;
		padding-bottom: 0px;
	}

	.processInfoBox3 img{
		padding-left: 0px;
	}
	
	.affaldsfraktioner {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.affaldsfraktioner h2{
		background: #44c44a;
		text-align: left;
		padding: 15px 15px;
		margin: 0px;
		color: white;
	}

	.affrakInfo {
		margin: 0px 25px 50px;
	}


	.affrakInfo p{
		text-align: left;
		padding: 12.5px 25px 12.5px 5px;
	}

	.affrakInfoBox {
		grid-template-columns: auto auto;
	}
	
	iframe {
		width:300px;
	}
	
	.omOs {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.omOs h2{
		background: #44c44a;
		text-align: left;
		padding: 15px 15px;
		margin: 0px 25px;
		color: white;
	}

	.omOsInfo {
		margin: 0px 25px 50px;
		padding-bottom: 25px;
		background: white;
	}

	.omOsInfo p{
		text-align: left;
		padding: 12.5px 25px;
	}

	.omOsInfoBox1 {
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto;
		gap: 10px;
	}

	.omOsInfoBox1 div{
		padding: 50px;
	}
}